@{
    ViewData["Title"] = "Index";
}

@model InsuranceProject.Models.ViewModel.CategoryAndInsuranceViewModel



@await Component.InvokeAsync("CorporateNavbar")




@*<div class="row sub-header">
    <div class="col-md-10 d-flex justify-content-center align-items-center">
        <div class="off-t">
            <h3 class="off-txt">Hızlı Teklif Al</h3>
        </div>
        <a href="#">
            <div class="bx">
                <div>
                    <span class="ins-txt">Kasko</span><br />
                    <span class="ins-txt1">Sigortası</span><br />
                </div>
                <span><i class="fa-solid fa-car"></i></span>
            </div>
        </a>
        <a href="#">
            <div class="bx">
                <div>
                    <span class="ins-txt">Deprem</span><br />
                    <span class="ins-txt1">Sigortası</span><br />
                </div>
                <span><i class="fa-solid fa-house"></i></span>
            </div>
        </a>
        <a href="#">
            <div class="bx">
                <div>
                    <span class="ins-txt">Seyahat</span><br />
                    <span class="ins-txt1">Sağlık</span><br />
                </div>
                <span><i class="fa-solid fa-plane-departure"></i></span>
            </div>
        </a>
        <div class="Insu">
            <a href="" class="nav-link">
                Online İşlemler MAPFRE GO
                <span><i class="fa-solid fa-right-long"></i></span>
            </a>
        </div>
    </div>
</div>*@
