<div class="row" style="margin:0">
    <div class="col-md-12 d-flex">
        <a class="dropdown-item " href="#">Sağlık</a>
        <a class="dropdown-item" href="#">Oto</a>
        <a class="dropdown-item" href="#">Mühendislik</a>
        <a class="dropdown-item" href="#">İşyeri</a>
        <a class="dropdown-item" href="#">Nakliyat</a>
        <a class="dropdown-item" href="#">Tekne</a>
        <a class="dropdown-item" href="#">Sorumluluk</a>
        <a class="dropdown-item" href="#">Tarım</a>
        <a class="dropdown-item" href="#">Diğer</a>
    </div>
</div>